name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install ffmpeg
        run: |
          sudo apt install software-properties-common
          sudo apt update
          sudo add-apt-repository ppa:jonathonf/ffmpeg-4
          sudo apt install ffmpeg

      - name: Install Project dependencies
        uses: py-actions/py-dependency-install@v4

      - name: Install testing dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint pytest pytest-cov selenium playwright

      - name: Running pytest
        run: |
          pytest -v  --cov --cov-report=xml --cov-report=html --junitxml="xunit-result.xml"

      - uses: actions/upload-artifact@v3
        with:
          name: code-coverage
          path: htmlcov

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.4.0

      - name: View poetry --help
        run: poetry --help